 *{
  padding: 0;
  margin: 0;
}
.cruds{
  width: 80%;
  margin: auto;
}
body{
  background-color: #222;
  color: white;
  font-family: system-ui;
}
.cruds .head{
  text-align: center;
  text-transform: uppercase;
}
.cruds h2{
  font-size: 40px;
  margin: 15px 0;
}
.cruds p{
  margin-bottom: 10px;
}
input{
  text-transform: capitalize;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(10, 10, 10);
  margin: 10px 0;
 transition: 0.4s;
color: rgb(20, 97, 220);
padding: 4px 8px;
cursor: pointer;
}
input:focus{
  background-color: black;
  transform: scale(1.1);
}
.price{
  width: 100%;
}
.price input{
  width: 18%;
  margin-right: 10px;
}
button{
cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: rgb(20, 97, 220);
  color: white;
  border: none;
  height: 35px;
  display: block;
border-radius: 20px;
transition: 0.3s;
text-transform: uppercase;
}
button:hover{
  background-color: rgb(11, 76, 181);
letter-spacing: 1px;
}

.btn-search{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-search button{
  width: 45%;
}
small{
  width: 8%;
  background-color: rgb(231, 12, 12);
  text-transform: uppercase;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
}
small::before{
  content: "total :";
} 
table{
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
table tr{
  text-transform: uppercase;
}
table td{
  padding: 5px;
}
table button{
  margin: 5px 0;
}
table button:hover{
  letter-spacing: 0;
}
#deleteAll{
  margin: 20px 0 10px;
}
/* // the end of cruds  */